*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/common/error/build/
/common/error/build/intermediates/javac/debug/classes/
/common/ktx/android/build/
/common/ktx/android/build/intermediates/javac/debug/classes/
/common/ktx/jvm/build/
/common/navigation/build/
/common/navigation/build/intermediates/javac/debug/classes/
/yacr/feature/authorization/build/
/yacr/feature/authorization/build/intermediates/javac/debug/classes/