<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bimboilya.navsample">

    <application
        android:name=".NavSampleApp"
        android:allowBackup="true"
        android:label="Compose Navigation"
        android:icon="@drawable/rose"
        android:roundIcon="@drawable/rose"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavSample">
        <activity
            android:name=".NavChooserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jetpack.JetpackActivity" />
        <activity android:name=".voyager.VoyagerActivity" />
    </application>

</manifest>